[submodule "third_party/tiny_obj"]
	path = third_party/tiny_obj
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://bitbucket.org/catgirl/glfw.git
	branch = mouse-delta
[submodule "third_party/stb_integration/stb"]
	path = third_party/stb_integration/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/glbinding"]
	path = third_party/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "third_party/imgui_integration/imgui"]
	path = third_party/imgui_integration/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/tinyheaders_integration/tinyheaders"]
	path = third_party/tinyheaders_integration/tinyheaders
	url = https://github.com/RandyGaul/tinyheaders.git
[submodule "third_party/debug_draw_integration/debug-draw"]
	path = third_party/debug_draw_integration/debug-draw
	url = https://github.com/glampert/debug-draw.git
[submodule "third_party/zcm"]
	path = third_party/zcm
	url = https://github.com/zettdaymond/zcm.git
	branch = master
[submodule "third_party/fx-gltf/fx-gltf"]
	path = third_party/fx-gltf/fx-gltf
	url = https://github.com/jessey-git/fx-gltf.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
	branch = develop
[submodule "third_party/doctest"]
	path = third_party/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "third_party/imgui_integration/imguizmo"]
	path = third_party/imgui_integration/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "third_party/imgui_integration/implot"]
	path = third_party/imgui_integration/implot
	url = https://github.com/epezent/implot
[submodule "third_party/tracy_integration/tracy"]
	path = third_party/tracy_integration/tracy
	url = https://github.com/wolfpld/tracy.git
