[submodule "third_party/stb"]
	path = third_party/stb
	url = ssh://git@bitbucket.org/catgirl/stb.git
	branch = add-impl

[submodule "third_party/tiny_obj"]
	path = third_party/tiny_obj
	url = https://github.com/syoyo/tinyobjloader.git

[submodule "third_party/glfw"]
	path = third_party/glfw
	url = ssh://git@bitbucket.org/catgirl/glfw.git
	branch = mouse-delta

[submodule "third_party/imgui_integration"]
	path = third_party/imgui_integration
	url = ssh://git@bitbucket.org/catgirl/imgui_integration.git
