[submodule "third_party/tiny_obj"]
	path = third_party/tiny_obj
	url = https://github.com/syoyo/tinyobjloader.git

[submodule "third_party/glfw"]
	path = third_party/glfw
	url = ssh://git@bitbucket.org/catgirl/glfw.git
	branch = mouse-delta

[submodule "third_party/stb_integration/stb"]
	path = third_party/stb_integration/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/glbinding"]
	path = third_party/glbinding
	url = https://github.com/cginternals/glbinding.git
